@import '../common/style/variables.styl'

scrollBar()
//::-webkit-scrollbar
  //display: none

html
  overflow: overlay
.settings-tooltip,
.download-chromeSettingHint
  width: 380px
.download-chromeSettingHint
  padding: 0 4px
  display: flex
  align-items: center
  justify-content: flex-start
  .download-warningIcon
    display: block
    color: $danger
    font-size: 20px
    margin-right: 8px
body
  padding: 0
  margin: 0 !important
  width: 400px
  height: 430px
  .app
    &::before
      content: ''
      display: block
      position: absolute
      top: -8px
      right: -4px
      width: 320px
      height: 60px
      background-image: linear-gradient(transparent, #fff)
      z-index: -1
    .app-logo
      position: absolute
      top: -8px
      right: -4px
      width: 320px
      z-index: -2
  .hint
    padding-top: 100px
    .hint-icons
      position: relative
      height: 100px
      color: $primary
      .hint-icons-user
        position: absolute
        left: 0
        right: 0
        margin: 0 auto
        font-size: 80px
      .hint-icons-container
        position: absolute
        left: 214px
        top: 52px
        border-radius: 50%
        background-color: #fff
        display: flex
        justify-content: center
        align-items: center
        padding: 4px
        .hint-icons-question
          font-size: 32px
    .hint-title
      text-align: center
      font-size: 24px
      font-weight: 700
      line-height: 24px
      margin-bottom: 0
    .hint-desc
      text-align: center
      font-size: 14px
      line-height: 18px
  .home
    //position: relative
    .home-buttons
      position: absolute
      top: 12px
      right: 12px
      .home-button
        background: #fff
        margin-left: 4px
        box-shadow: 2px 2px 5px 5px rgba(211,211,211,.5)
        .anticon
          color: $grey8
          font-size: 20px
          &.home-flip-active
            color: $primary
    .settings
      padding: 60px 4px 0

      .settings-group
        margin-bottom: 8px

        .settings-group-inner
          display: flex
          justify-content: flex-start

      .settings-timeRange
        .settings-timeRange-group
          flex-grow: 0
          width: 270px

        .settings-timeRange-split
          width: 30px
          borderLeft: 0
          borderRight: 0
          pointerEvents: none

        .settings-timeRange-input
          width: 120px
          textAlign: center

      .settings-filename
        .settings-filename-button
          border-left: none
          width: 30px
          border-radius: 0 2px 2px 0

        .settings-filename-input
          width: 240px
          border-radius: 2px 0 0 2px

      .settings-conflictAction
        .settings-conflictAction-select
          display: block

        .settings-conflictAction-select,
        .settings-conflictAction-option
          width: 270px
      .settings-literatureDownloadType
        .settings-literatureDownloadType-select
          display: block

        .settings-literatureDownloadType-select,
        .settings-literatureDownloadType-option
          width: 270px

      .settings-info
        margin-left: 8px

      .settings-hint
        height: 20px
        color: $danger
        .settings-hint-text
          color: $danger

    .download
      // Userinfo component
      .download-username
        height: 60px
        line-height: 100px
        padding: 0 8px
        margin: 0
        font-size: 24px
        color: $grey8
        font-weight : 700
      .userinfo
        .ant-tabs-tab + .ant-tabs-tab
          margin: 0

        .tab-title
          padding: 0 12px

        .ant-tabs-nav
          margin: 0

        .userinfo-btn_selectAllGalleries,
        .userinfo-btn_selectAllFavourites
          margin-right: 8px

        .userinfo-folderGroup
          height: 270px
          border-bottom: 1px solid #d9d9d9
          overflow-y: scroll
          padding-left: 4px
          width: 100%

        .userinfo-loading
          height: 322px
          color: $grey7
          font-size: 20px
          display: flex
          justify-content: center
          align-items: center
          background-color: $grey4
          .userinfo-loading-icon
            color: $primary
          span
            margin-left: 8px

        .ant-checkbox-wrapper
          flex-grow: 1

          > span:last-child
            flex-grow: 1

        .userinfo-folder
          width: 100%
          display: flex
          justify-content: space-between
          align-items: center
          padding: 4px 8px

          .userinfo-folder-name
            display: inline-block
            max-width: 220px
            ellipsis()

          .userinfo-folder-count
            margin-left: 4px
            color: $grey7


      .download-footer
        display: flex
        padding: 4px 4px 4px 12px
        justify-content: space-between
        align-items: center


        .status
          color: $primary
          font-size: 16px
