// 中性色
$grey1 = #ffffff
$grey2 = #fafafa
$grey3 = #f5f5f5
$grey4 = #f0f0f0
$grey5 = #d9d9d9
$grey6 = #bfbfbf
$grey7 = #8c8c8c
$grey8 = #595959
$grey9 = #434343
$grey10 = #262626
$grey11 = #1f1f1f
$grey12 = #141414
$grey13 = #000000
$white = $grey1
$black = $grey13

// 基础色
$basic1 = #e9f3f7
$basic2 = #cae0eb
$basic3 = #9bc7de
$basic4 = #71acd1
$basic5 = #4b92c4
$basic6 = #2976b7
$basic7 = #195791
$basic8 = #0d3a6b
$basic9 = #052245
$basic10 = #020e1f

// 品牌色
$primary = $basic6

//功能色
$info = $basic4
$danger = #b7292b
$warning = #e3c229
$success = #23bd19
$backgroundColor = #fff
$surfaceColor = #fff

$onPrimaryColor = #fff
$onSecondaryColor = #fff
$onErrorColor = #fff
$onBackgroundColor = #000
$onSurfaceColor = #000

// font
$font-family-sans-serif = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
$font-family-monospace = SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

headline()
  font-size: 20px
  line-height: 28px

subtitle()
  font-size: 14px
  line-height: 20px

button()
  font-size: 14px
  line-height: 20px

body()
  font-size: 12px
  line-height: 1.5
  font-weight: 200

ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

scrollBar()
  ::-webkit-scrollbar
    width: 10px
    height: 10px
    background-color: #f5f5f5

  /*滚动条的轨道*/
  ::-webkit-scrollbar-track
    background-color: #f5f5f5

  /*滚动条的滑块按钮*/
  ::-webkit-scrollbar-thumb
    background-color: #d5d5d5

  /*滚动条的上下两端的按钮*/
  ::-webkit-scrollbar-button
    display: none
